@{
    ViewBag.Title = "Employee Dashboard";
}

<h2>Employee Dashboard</h2>

<a href="@Url.Action("AddFarmer", "Employee")" class="btn-primary">Add New Farmer Profile</a>
<a href="@Url.Action("ViewProducts", "Employee")" class="btn-secondary">View & Filter Farmer Products</a>
