@{
    ViewBag.Title = "Farmer Login";
}

<h2>Farmer Login</h2>

@if (ViewBag.Error != null)
{
    <div style="color: red;">@ViewBag.Error</div>
}

<form method="post" action="@Url.Action("ValidateFarmerLogin", "Farmer")">
    <p>Don't have a password? <a href="@Url.Action("RegisterFarmer", "Farmer")">Complete your registration here</a></p>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="Email" required />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="Password" required />
    </div>

    <button type="submit" class="btn-primary">Login</button>
</form>
