

<section class="hero">
    <h1>Welcome to Agri-Energy Connect</h1>
    <p>We provide resources,support and foster collaboration between employees and farmers.</p>

    <div class="role-selection">
        <div class="role-card">
            <img src="/icons/Employee.png" alt="Employee Icon" />
            <h3>Employee</h3>
            <a href="@Url.Action("EmployeeLogin", "Home")" class="btn-primary">Employee Login</a>
        </div>
        <div class="role-card">
            <img src="/icons/Farmer.png" alt="Farmer Icon" />
            <h3>Farmer</h3>
            <a href="@Url.Action("FarmerLogin", "Home")" class="btn-primary">Farmer Login</a>
        </div>
    </div>
</section>

